.glow {
  -webkit-animation: glow 2s ease-in-out infinite;
  -moz-animation: glow 2s ease-in-out infinite;
  animation: glow 2s ease-in-out infinite;
}
  
@-webkit-keyframes glow {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}