input::-webkit-calendar-picker-indicator {
  display: none;
}

.parent {
  height: 100%;
  overflow: hidden;
}

#chat-card {
  width: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  /* So the width will be 100% + 17px */
}

.glow {
  -webkit-animation: glow 2s ease-in-out infinite;
  -moz-animation: glow 2s ease-in-out infinite;
  animation: glow 2s ease-in-out infinite;
}

.room-modal-content {
  height: 90% !important;
}

.modal-body {
  max-height: calc(100% - 71px - 62.6px) !important;
}

.table-wrap {
  overflow-y: scroll;
}

@media (min-width: 992px) {
  .room-config {
    position: absolute;
    top: 0px;
    bottom: 0;
    overflow-y: hidden;
  }
  .room-suff {
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    height: 87%;
  }
  .call-modal-content {
    height: 92% !important;
  }
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.pointer:hover{
  cursor: pointer;
}

.fixed {
  table-layout: fixed;
}

/* Important part */

.modal-dialog {
  overflow-y: initial !important
}

#chat-content {
  width: 100%;
  border-collapse: collapse;
}

.cell-break {
  word-break: break-all;
}

.chat-name {
  width: 7.5rem;
}

.chat-line {
  height: 3.2rem;
}

.dropdown-toggle::after {
  display: none !important;
}

.display-none{
  display: none;
}

#message:focus, #message:active {
  outline: none !important;
  box-shadow: none;
}

.main-chat-group{
  height: calc(100% - 160px);
  min-height: 300px;
}

::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes glow {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}