.theme-body-light {
    background-color: #fffdf9;
}

.theme-body-dark {
    background-color: #242F3F;
}

.theme-header-light {
    background-color: #f7f7f7;
}

.theme-header-dark {
    background-color: rgb(60, 60, 60);
}

.theme-text-light {
    color: black;
}

.theme-text-dark {
    color: white;
}

.theme-content-light {
    background-color: white;
}

.theme-content-dark {
    background-color: rgb(45, 45, 45);
}

.theme-emoji-light {
    background-color: #f7f7f7;
}

.theme-emoji-dark {
    background-color: rgb(60, 60, 60);
    color: #5bc0de;
}

.theme-margin {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.theme-btn-dark:before {
    border-radius: 50%;
    background: #5BC0DE;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.theme-btn-dark:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #5BC0DE;
    filter: blur(3px);
}

.theme-btn-dark:hover {
    color: #5BC0DE;
    box-shadow: 0 0 15px #5BC0DE;
    color: white;
    /* text-shadow: 0 0 15px #5BC0DE; */
}

.theme-modal-header-dark{
    border-bottom: 1px solid gray;
}

.theme-modal-footer-dark{
    border-top: 1px solid gray;
}